.comment-list {
  &__item {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid rgba($color-primary, .05);
  }

  &__meta {
    font-size: 16px;
  }

  &__author {
    font-weight: 700;
  }

  &__date {
    font-style: italic;
    opacity: .5;
  }

  //&__delete {
  //}

  &__body {
    margin-top: 8px;
    font-size: 16px;
  }
}
