// =============================================================================
// COLOR VARIABLES
// =============================================================================
$color-primary: #000;
$color-secondary: #ed1c24;

$color-error: #c00;
$color-success: #409e13;
$color-highlight: #ffe000;
$color-disabled: #ccc;

$color-grey: #f7f7f7;
$color-price-products-listing: #b4b4b4;
$color-price-product-details: #929292;

// TODO: Remove when optimizing blog listing view.
$color-white: #fff;
$color-science-blue: #06b;
