// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
// @import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
// @import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
// @import '../../stylesheets/mixins/general';

// VARIABLES
// @import '../../stylesheets/variables/margins';
// @import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/colors';
// @import '../../stylesheets/variables/breakpoints';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --layout-footer__padding: 32px;

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --layout-footer__font-size: 16px;

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --layout-footer__color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --layout-footer__background-color: #{$color-grey};

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --layout-footer__font-weight: 400;

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --layout-footer__font-style: normal;

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --layout-footer__text-decoration: none;

  /* VoogStyle
    "pathI18n": ["footer"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --layout-footer__text-transform: none;

  // scss-lint:enable Comment, Indentation
}
