// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 11,
    "max": 50,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --content-area-form-field-label__font-size: 16px;

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --content-area-form-field-label__font-weight: 400;

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --content-area-form-field-label__font-style: normal;

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --content-area-form-field-label__text-decoration: none;

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --content-area-form-field-label__text-transform: none;

  /* VoogStyle
    "pathI18n": ["form", "label"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --content-area-form-field-label__color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 11,
    "max": 50,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --content-area-form-field-text__font-size: 16px;

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --content-area-form-field-text__color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --content-area-form-field-text__background-color: #{$color-white};

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "border_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --content-area-form-field-text__border-color: #{rgba($color-primary, .5)};

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --content-area-form-field-text__font-weight: 400;

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --content-area-form-field-text__font-style: normal;

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --content-area-form-field-text__text-decoration: none;

  /* VoogStyle
    "pathI18n": ["form", "text"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --content-area-form-field-text__text-transform: none;

  // scss-lint:enable Comment, Indentation
}
