// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /*_LIQUID {% unless page.layout_title == product_list_layout %} LIQUID_*/
      /* VoogStyle
        "pathI18n": ["{{ content_container_title }}"],
        "titleI18n": "maximum_width",
        "editor": "rangePicker",
        "min": 600,
        "max": 2000,
        "step": 5,
        "unit": "px",
        "scope": "global"
      */
      --layout-body-narrow__max-width: 960px;
  /*_LIQUID {% endunless %} LIQUID_*/

  /* VoogStyle
    "pathI18n": ["{{ content_container_title }}"],
    "titleI18n": "padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --layout-body-narrow__padding: 0;

  /* VoogStyle
    "pathI18n": ["{{ content_container_title }}"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --layout-body-narrow__background-color: transparent;

      /*_LIQUID {% if content_inner_title == "product" %} LIQUID_*/
          /* VoogStyle
            "pathI18n": ["{{ content_inner_title }}"],
            "titleI18n": "image_radius",
            "editor": "rangePicker",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "scope": "global"
          */
          --content-item-box__image-radius: 0;
      /*_LIQUID {% endif %} LIQUID_*/

      /*_LIQUID {% if content_container_title == "blog" or content_container_title == "article" %} LIQUID_*/
      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "size",
        "editor": "rangePicker",
        "min": 8,
        "max": 100,
        "unit": "px",
        "featured": true,
        "scope": "global"
      */
      --content-area-article-title__font-size: 28px;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-area-article-title__font-weight: 700;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-area-article-title__font-style: normal;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-area-article-title__text-decoration: none;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-area-article-title__text-transform: uppercase;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "title"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "featured": true,
        "scope": "global"
      */
      --content-area-article-title__color: #{$color-secondary};

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "size",
        "editor": "rangePicker",
        "min": 8,
        "max": 100,
        "unit": "px",
        "featured": true,
        "scope": "global"
      */
      --content-area-article-date__font-size: 12px;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "opacity",
        "editor": "rangePicker",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "unit": "",
        "scope": "global"
      */
      --content-area-article-date__opacity: .5;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-area-article-date__font-weight: 400;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-area-article-date__font-style: normal;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-area-article-date__text-decoration: none;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-area-article-date__text-transform: none;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "date"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "featured": true,
        "scope": "global"
      */
      --content-area-article-date__color: #{$color-primary};
  /*_LIQUID {% endif %} LIQUID_*/

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --content-area-text__font-size: 20px;

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "text"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-area-text__color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "link", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-area-link-hover__font-weight"
    ]
  */
  --content-area-link__font-weight: 400;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "link", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-area-link-hover__font-weight: 400;

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-area-link-hover__font-style"
    ]
  */
  --content-area-link__font-style: normal;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "link", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-area-link-hover__font-style: normal;

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --content-area-link__text-decoration: none;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "link", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-area-link-hover__text-decoration: underline;

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-area-link-hover__text-transform"
    ]
  */
  --content-area-link__text-transform: none;

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "link", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-area-link-hover__text-transform: none;

  /* VoogStyle
    "pathI18n": ["{{ content_inner_title }}", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--content-area-link-hover__color"
    ]
  */
  --content-area-link__color: #{$color-secondary};

      /* VoogStyle
        "pathI18n": ["{{ content_inner_title }}", "link", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --content-area-link-hover__color: #{$color-secondary};
  // scss-lint:enable Comment, Indentation
}
