// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/widths';
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --content-button-padding: 20px;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-font-size"
    ]
  */
  --content-button-font-size: 18px;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-background-color"
    ]
  */
  --content-button-background-color: transparent;

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "background_color",
        "editor": "colorPicker",
        "featured": true,
        "scope": "global"
      */
      --content-button-hover-background-color: transparent;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-font-weight"
    ]
  */
  --content-button-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-button-hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-font-style"
    ]
  */
  --content-button-font-style: normal;

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-button-hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-text-decoration"
    ]
  */
  --content-button-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-button-hover-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-text-transform"
    ]
  */
  --content-button-text-transform: none;

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-button-hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["button", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--content-button-hover-color"
    ]
  */
  --content-button-color: #{rgba($color-primary, .5)};

      /* VoogStyle
        "pathI18n": ["button", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --content-button-hover-color: #{rgba($color-primary, .5)};

  // scss-lint:enable Comment, Indentation
}
