// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/widths';
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "maximum_width",
    "editor": "rangePicker",
    "min": 100,
    "max": 2000,
    "step": 5,
    "unit": "px",
    "scope": "global"
  */
  --layout-body-narrow__max-width: 960px;

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --layout-body-narrow__padding: 0;

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --layout-body-narrow__background-color: transparent;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --content-area-text__font-size: 20px;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-area-text__color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-area-link__hover-font-weight"
    ]
  */
  --content-area-link__font-weight: 400;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-area-link__hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-area-link__hover-font-style"
    ]
  */
  --content-area-link__font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-area-link__hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --content-area-link__text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-area-link__hover-text-decoration: underline;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-area-link__hover-text-transform"
    ]
  */
  --content-area-link__text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-area-link__hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--content-area-link__hover-color"
    ]
  */
  --content-area-link__color: #{$color-secondary};

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --content-area-link__hover-color: #{$color-secondary};

  // scss-lint:enable Comment, Indentation
}
