// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/widths';
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["blog"],
    "titleI18n": "max_nr_of_columns",
    "editor": "listPicker",
    "list": {{ base_number_of_columns_set }},
    "featured": true,
    "scope": "global"
  */
  --article-box-width: 33.3%;

  /* VoogStyle
    "pathI18n": ["blog", "article_box"],
    "titleI18n": "image_radius",
    "editor": "rangePicker",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "%",
    "scope": "global"
  */
  --article-box-image-radius: 0;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --article-box-line-height: 1.2;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --article-box-font-size: 16px;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --article-box-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --article-box-font-style: normal;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --article-box-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --article-box-text-transform: none;

  /* VoogStyle
    "pathI18n": ["blog", "article_box", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --article-box-color: #{rgba($color-primary, .8)};
}
