// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/widths';
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';


// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["table"],
    "titleI18n": "padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --content-area-table__padding: 12px;

  /* VoogStyle
    "pathI18n": ["table"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global"
  */
  --content-area-table__font-size: 16px;

  /* VoogStyle
    "pathI18n": ["table", "border"],
    "titleI18n": "style",
    "editor": "listPicker",
    "list": {{ base_border_style_set }},
    "featured": true,
    "scope": "global"
  */
  --content-area-table__border-style: solid;

  /* VoogStyle
    "pathI18n": ["table", "border"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-area-table__border-color: #{$color-primary};

  /* VoogStyle
    "pathI18n": ["table", "border"],
    "titleI18n": "opacity",
    "editor": "rangePicker",
    "min": 0.1,
    "max": 1,
    "step": 0.1,
    "unit": "",
    "scope": "global",
    "boundVariables": [
      "--menu-main-hover__opacity"
    ]
  */
  --content-area-table__border-opacity: .1;

  // scss-lint:enable Comment, Indentation
}
