// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Dependencies
// =============================================================================
// 3RD PARTY COMPONENTS
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Mixins
@import '../../stylesheets/mixins/general';

// VARIABLES
@import '../../stylesheets/variables/widths';
@import '../../stylesheets/variables/margins';
@import '../../stylesheets/variables/colors';
@import '../../stylesheets/variables/fonts';
@import '../../stylesheets/variables/breakpoints';

// =============================================================================
// Menu main
// =============================================================================
.menu-main {
  &__item {
    &:not(&--selected) {
      // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
      // scss-lint:disable NestingDepth
      a {
        font-style: var(--menu-main__font-style);
        font-weight: var(--menu-main__font-weight);
        color: var(--menu-main__color);
        text-transform: var(--menu-main__text-transform);
        opacity: var(--menu-main__opacity);

        @include breakpoint($medium-up) {
          border-bottom: var(--menu-main__text-decoration);
        }

        &:hover {
          font-style: var(--menu-main__hover-font-style);
          font-weight: var(--menu-main__hover-font-weight);
          color: var(--menu-main__hover-color);
          text-transform: var(--menu-main__hover-text-transform);

          @include breakpoint($medium-up) {
            border-bottom: var(--menu-main__hover-text-decoration);
            opacity: var(--menu-main__hover-opacity);
          }
        }
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--selected {
      // scss-lint:disable NestingDepth
      a {
        font-style: var(--menu-main__active-font-style);
        font-weight: var(--menu-main__active-font-weight);
        color: var(--menu-main__active-color);
        text-transform: var(--menu-main__active-text-transform);
        opacity: var(--menu-main__active-opacity);

        @include breakpoint($medium-up) {
          border-bottom: var(--menu-main__active-text-decoration);
        }
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    a {
      @include breakpoint($medium-up) {
        font-size: var(--menu-main__font-size);
      }
    }
  }
}

// =============================================================================
// Menu sub
// =============================================================================
.menu-sub {
  &__item {
    &:not(&--selected) {
      // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
      // scss-lint:disable NestingDepth
      a:not(.menu-sub__link--untranslated) {
        font-style: var(--menu-sub__font-style);
        font-weight: var(--menu-sub__font-weight);
        color: var(--menu-sub__color);
        text-decoration: var(--menu-sub__text-decoration);
        text-transform: var(--menu-sub__text-transform);
        opacity: var(--menu-sub__opacity);

        &:hover {
          font-style: var(--menu-sub__hover-font-style);
          font-weight: var(--menu-sub__hover-font-weight);
          color: var(--menu-sub__hover-color);
          text-decoration: var(--menu-sub__hover-text-decoration);
          text-transform: var(--menu-sub__hover-text-transform);
          opacity: var(--menu-sub__hover-opacity);
        }
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--selected {
      // scss-lint:disable NestingDepth
      a {
        font-style: var(--menu-sub__active-font-style);
        font-weight: var(--menu-sub__active-font-weight);
        color: var(--menu-sub__active-color);
        text-decoration: var(--menu-sub__active-text-decoration);
        text-transform: var(--menu-sub__active-text-transform);
        opacity: var(--menu-sub__active-opacity);
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    a {
      @include breakpoint($medium-up) {
        font-size: var(--menu-sub__font-size);
      }
    }
  }
}
