.product-details {
  font-family: $font-family-primary;

  @media screen and (min-width: $mobile + 1) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__image-container {
    @media screen and (min-width: $mobile + 1) {
      flex-grow: 1;
      max-width: 520px;
      margin-right: 40px;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @media screen and (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  &__body {
    flex-grow: 1;
    max-width: 400px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-primary;

    @media screen and (max-width: $mobile) {
      font-size: em(36px, $base-font-size);
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__price {
    margin-top: 5px;
    margin-bottom: 35px;
    color: $color-price-product-details;
    font-feature-settings: 'lnum';

    @media screen and (max-width: $mobile) {
      font-size: em(36px, $base-font-size);
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 40px;
    }
  }

  &__buy-btn {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}
