.shops-container {
  @include breakpoint(max-width $medium-end) {
    display: block;
  }

  @include breakpoint($medium-end) {
    width: 100%;
    margin-top: 30px;
  }

  &__body {
    @include breakpoint(max-width $medium-end) {
      display: block;
    }
  }
}
