// TODO: Convert to BEM.
//==============================================================================
// LANGUAGE MENU STYLES
// Gerneral menu styles are located in "general/_menus.scss" partial.
//==============================================================================
.menu-language-btn {
  .language-menu-mode-popover & {
    display: inline-block;
    flex-grow: 0;
    margin: 0 0 0 10px;
    line-height: 1.3;
    color: $color-primary;
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border-style: none;

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border-style: none;
    }
  }

  .language-menu-mode-list & {
    display: none;
  }

  .language-flags-enabled & {
    width: 1px;
    padding: 12px 16px 13px 15px;
    margin-right: -5px;
    font-size: 0;

    &:hover {
      opacity: .5;
    }
  }

  .language-flags-disabled & {
    padding: 8px 24px 7px 8px;
    font-family: inherit;
    font-size: 12px;
    border-color: rgba($color-primary, .25);
    border-style: solid;
    border-width: 1px;

    &:hover {
      border-color: rgba($color-primary, .5);
    }
  }

  .language-flags-disabled.menu-language-popover-open & {
    border-color: rgba($color-primary, .75);
  }

  &::before,
  &::after {
    $ico-offset: 5px;
    top: $ico-offset;

    .language-flags-enabled & {
      left: $ico-offset;
    }
  }

  &:hover {
    .menu-language-btn-circle {
      opacity: .75;
    }
  }

  .menu-language-btn-circle {
    right: 8px;
  }
}

.menu-language-btn-circle {
  position: absolute;
  top: 50%;
  opacity: .25;
  stroke: $color-primary;
  fill: none;

  .language-menu-mode-list & {
    display: none;
  }

  .language-menu-mode-popover.language-flags-disabled & {
    margin-top: -4px;
  }

  .language-menu-mode-popover.language-flags-enabled & {
    margin-top: -5px;
  }

  .language-flags-disabled.menu-language-popover-open & {
    opacity: .75;
  }
}

.menu-language {
  text-align: right;

  &.menu-language-popover {
    [data-view-state="publicmode"].language-flags-disabled & {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-right: -1px;
    }

    .language-flags-disabled & {
      margin-top: -36px;
    }

    [data-view-state="editmode"].language-flags-enabled & {
      margin-top: -33px;
      margin-right: -20px;
    }

    [data-view-state="publicmode"].language-flags-enabled & {
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: -29px;
      margin-right: -21px;
    }

    .language-menu-mode-list & {
      display: none;
    }
  }

  .menu-language-popover-open & {
    z-index: 10;
    display: block;
  }

  .menu-public {
    [data-view-state="editmode"].language-menu-mode-popover & {
      padding-top: 8px;
    }

    [data-view-state="publicmode"].language-menu-mode-list.language-names-disabled & {
      padding-bottom: 2px;
    }

    //[data-view-state="publicmode"].language-menu-mode-popover & {
    //  $vertical-padding-publicmode: 8px;
    //  padding-top: $vertical-padding-publicmode;
    //  padding-bottom: $vertical-padding-publicmode;
    //}
  }

  .menu-item {
    position: relative;

    .language-menu-mode-list.language-flags-enabled & {
      vertical-align: middle;
    }
    a {
      display: block;
      font-size: 12px;
      color: $color-primary;
      text-decoration: none;

      // scss-lint:disable NestingDepth
      &::before,
      &::after {
        // scss-lint:disable SelectorDepth
        .language-menu-mode-popover.language-flags-enabled & {
          top: 4px;
          right: 24px;
        }
        // scss-lint:enable SelectorDepth

        // scss-lint:disable SelectorDepth
        .language-menu-mode-list.language-flags-enabled & {
          right: 4px;
        }

        .language-menu-mode-list.language-flags-enabled.language-names-enabled & {
          top: 6px;
        }

        .language-menu-mode-list.language-flags-enabled.language-names-disabled & {
          top: 3px;
        }
        // scss-lint:enable SelectorDepth
      }

      &:hover {
        // scss-lint:disable SelectorDepth
        &,
        .language-menu-mode-list & {
          opacity: .7;
        }
        // scss-lint:enable SelectorDepth
      }

      &.selected {
        // scss-lint:disable SelectorDepth
        .language-menu-mode-list & {
          opacity: 1;
        }
        // scss-lint:enable SelectorDepth
      }

      &.untranslated {
        color: rgba($color-error, 1);
      }

      // scss-lint:disable SelectorDepth
      .language-menu-mode-popover.language-flags-enabled & {
        padding-left: 8px;
      }

      .language-menu-mode-popover.language-flags-disabled & {
        padding: 4px 24px;
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-enabled & {
        padding-top: 5px;
        padding-right: 53px;
        padding-bottom: 5px;
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-disabled & {
        padding-top: 11.5px;
        padding-right: 45px;
        padding-bottom: 11.5px;
      }

      .language-menu-mode-list & {
        opacity: .5;
      }

      .language-menu-mode-list.language-flags-enabled.language-names-enabled & {
        padding: 5px 30px 5px 3px;
      }

      .language-menu-mode-list.language-flags-disabled.language-names-enabled & {
        padding: 5px;
      }

      .language-menu-mode-list.language-flags-enabled.language-names-disabled & {
        padding: 10px 14px 11px 15px;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .menu-language-btn-circle {
      right: 8px;
    }
  }

  .menu-language-name {
    .language-names-disabled.language-flags-enabled & {
      display: none;
    }
  }

  .menu-cms {
    .language-menu-mode-popover & {
      padding-bottom: 8px;
    }

    li {
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      .language-menu-mode-list.language-flags-enabled & {
        padding-top: 2px;
        padding-bottom: 2px;
      }

      .language-menu-mode-popover & {
        padding: 4px 14px;
      }

      // TODO: Remove
      //.language-flags-disabled & {
      //  padding-top: 3px 15px;
      //}

      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }
  }
}

.menu-language-list {
  margin-left: 20px;

  .language-menu-mode-popover & {
    display: none;
  }

  .menu-item-cms-settings {
    margin-left: 16px;
  }

  .menu-item-cms-add {
    margin-left: 8px;
  }
}

.ico-flags {
  position: relative;
  background-color: transparent;

  &::before,
  &::after {
    .language-flags-enabled & {
      position: absolute;
      display: block;
      width: 21px;
      height: 15px;
    }
  }

  &::before {
    background-color: $color-primary;
    content: '';

    .language-flags-disabled & {
      display: none;
    }
  }

  &::after {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 8px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background-position: 0 -75px;
    content: attr(data-lang-code);
    opacity: .95;
    box-sizing: border-box;

    .language-flags-enabled & {
      background-image: url('../assets/ico-flags.svg');
    }

    .language-flags-disabled & {
      display: none;
    }
  }
}

// Language flag icons positioning in the spritemap.
// scss-lint:disable TrailingSemicolon
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  // (pt, -63px 0), // Brazilian Portuguese (Brazil)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  // (fr, -42px -60px), // French (Ivory Coast)
  // (en, -63px -60px), // British English (Great Britian)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  // (en, -105px -60px), // Canadian English (Canada)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  // (en, -168px -60px), // Australian English (Commonwealth of Australia)
  (th, -189px -60px) // Thai (Thailand)
;
// scss-lint:enable TrailingSemicolon

@each $flag, $pos in $flags {
  .ico-flag-#{$flag}:after {
    background-position: $pos;
    content: '';
  }
}
