// TODO: Convert to BEM.
//==============================================================================
// LANGUAGE MENU STYLES
// Gerneral menu styles are located in "general/_menus.scss" partial.
//==============================================================================
.menu-language-btn {
  .language-menu-mode-popover & {
    display: inline-block;
    flex-grow: 0;
    margin: 0;
    line-height: 1.3;
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border-style: none;

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border-style: none;
    }
  }

  .language-menu-mode-list & {
    display: none;
  }

  .language-flags-enabled & {
    width: 44px;
    height: 33px;
    padding: 0;
    font-size: 0;

    &:hover {
      opacity: .5;
    }
  }

  .language-flags-disabled & {
    font-family: inherit;

    @include breakpoint(max-width $medium) {
      padding: 7px 24px 6px 8px;
      font-size: 13px;
    }

    @include breakpoint($medium-up) {
      padding: 3px 24px 4px 16px;
      font-size: 24px;
    }

    &:hover {
      border-color: rgba($color-primary, .5);
    }
  }

  .language-flags-enabled.language-names-enabled.language-menu-mode-popover & {
    width: auto;
    height: auto;
    padding-left: 8px;
    white-space: nowrap;

    @include breakpoint(max-width $medium) {
      padding-top: 6px;
      padding-right: 34px;
      padding-bottom: 5px;
      font-size: 13px;
    }

    @include breakpoint($medium-up) {
      padding-top: 4px;
      padding-right: 53px;
      padding-bottom: 3px;
      font-size: 24px;
    }
  }

  .language-flags-enabled.language-names-disabled.language-menu-mode-popover & {
    @include breakpoint(max-width $medium) {
      width: 35px;
      height: 29px;
    }

    @include breakpoint($medium-up) {
      width: 50px;
      height: 38px;
    }
  }

  .language-flags-disabled.menu-language-popover-open & {
    border-color: rgba($color-primary, .75);
  }

  &::before,
  &::after {
    top: 50%;

    @include breakpoint(max-width $medium) {
      margin-top: -8px;
    }

    @include breakpoint($medium-up) {
      margin-top: -12px;
    }

    .language-flags-enabled & {
      left: 8px;
    }

    .language-flags-enabled.language-names-enabled.language-menu-mode-popover & {
      left: auto;

      @include breakpoint(max-width $medium) {
        right: 5px;
      }

      @include breakpoint($medium-up) {
        right: 8px;
      }
    }
  }

  &:hover {
    .menu-language-btn-circle {
      opacity: .75;
    }
  }

  .menu-language-btn-circle {
    right: 8px;
  }

}

.menu-language-btn-circle {
  position: absolute;
  top: 50%;
  opacity: .25;
  fill: none;

  .language-menu-mode-list &,
  .language-flags-enabled & {
    display: none;
  }

  .language-menu-mode-popover.language-flags-disabled & {
    margin-top: -5px;
  }

  .language-menu-mode-popover.language-flags-enabled & {
    margin-top: -5px;
  }

  .language-flags-disabled.menu-language-popover-open & {
    opacity: .75;
  }
}

.menu-language {
  text-align: right;

  &.menu-language-popover {
    .language-flags-disabled & {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-right: -1px;

      @include breakpoint(max-width $medium) {
        margin-top: -35px;
      }

      @include breakpoint($medium-up) {
        margin-top: -47px;
      }
    }

    .language-flags-enabled.language-names-enabled & {
      @include breakpoint(max-width $medium) {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: -31px;
        margin-right: -4px;
      }

      @include breakpoint($medium-up) {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: -52px;
        margin-right: -9px;
      }
    }

    .language-flags-enabled.language-names-disabled & {
      @include breakpoint(max-width $medium) {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: -31px;
        margin-right: -3px;
      }

      @include breakpoint($medium-up) {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: -46px;
        margin-right: -9px;
      }
    }

    .language-menu-mode-list & {
      display: none;
    }
  }

  .menu-language-popover-open & {
    z-index: 2;
    display: block;
  }

  .menu-public {
    [data-view-state="publicmode"].language-menu-mode-list.language-names-disabled & {
      padding-bottom: 2px;
    }
  }

  .menu-item {
    position: relative;

    .language-name-resize {
      @include breakpoint($medium-up) {
        font-size: 16px;
      }
    }

    .language-menu-mode-list.language-flags-enabled & {
      vertical-align: middle;
    }

    a {
      display: block;
      color: $color-primary;
      text-decoration: none;

      @include breakpoint(max-width $medium) {
        font-size: 13px;
      }

      @include breakpoint($medium-up) {
        font-size: 24px;
      }

      // scss-lint:disable NestingDepth
      &::before,
      &::after {
        top: 50%;

        // scss-lint:disable SelectorDepth
        .language-menu-mode-popover.language-flags-enabled & {
          @include breakpoint(max-width $medium) {
            right: 8px;
            margin-top: -8px;
          }

          @include breakpoint($medium-up) {
            right: 16px;
            margin-top: -12px;
          }
        }
        // scss-lint:enable SelectorDepth

        // scss-lint:disable SelectorDepth
        .language-menu-mode-list.language-flags-enabled & {
          right: 4px;
        }

        .language-menu-mode-list.language-flags-enabled.language-names-enabled & {
          @include breakpoint(max-width $medium) {
            margin-top: -8px;
          }

          @include breakpoint($medium-up) {
            margin-top: -12px;
          }
        }

        .language-menu-mode-list.language-flags-enabled.language-names-disabled & {
          @include breakpoint(max-width $medium) {
            margin-top: -8px;
          }

          @include breakpoint($medium-up) {
            margin-top: -12px;
          }
        }
        // scss-lint:enable SelectorDepth
      }

      &:hover {
        // scss-lint:disable SelectorDepth
        &,
        .language-menu-mode-list & {
          opacity: .7;
        }
        // scss-lint:enable SelectorDepth
      }

      &.selected {
        // scss-lint:disable SelectorDepth
        .language-menu-mode-list & {
          opacity: 1;
        }
        // scss-lint:enable SelectorDepth
      }

      &.untranslated {
        color: rgba($color-error, 1);
      }

      // scss-lint:disable SelectorDepth
      .language-menu-mode-popover.language-flags-enabled & {
        @include breakpoint(max-width $medium) {
          padding-left: 8px;
        }

        @include breakpoint($medium-up) {
          padding-left: 16px;
        }
      }

      .language-menu-mode-popover.language-flags-disabled & {
        padding: 4px 24px 4px 16px;
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-enabled & {
        padding-bottom: 5px;

        @include breakpoint(max-width $medium) {
          padding-top: 5px;
          padding-right: 37px;
        }

        @include breakpoint($medium-up) {
          padding-top: 6px;
          padding-right: 61px;
        }
      }

      .language-menu-mode-popover.language-flags-enabled.language-names-disabled & {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-left: auto;

        @include breakpoint(max-width $medium) {
          height: 24px;
          min-width: 37px;
        }

        @include breakpoint($medium-up) {
          height: 35px;
          min-width: 66px;
        }
      }

      .language-menu-mode-list & {
        opacity: .5;
      }

      .language-menu-mode-list.language-flags-enabled.language-names-enabled & {
        @include breakpoint(max-width $medium) {
          padding: 7px 32px 7px 4px;
        }

        @include breakpoint($medium-up) {
          padding: 5px 48px 4px 8px;
        }
      }

      .language-menu-mode-list.language-flags-disabled.language-names-enabled & {
        @include breakpoint(max-width $medium) {
          padding: 7px 4px;
        }

        @include breakpoint($medium-up) {
          padding: 5px 8px 4px;
        }
      }

      .language-menu-mode-list.language-flags-enabled.language-names-disabled & {
        @include breakpoint(max-width $medium) {
          padding: 14px 14px 15px 15px;
        }

        @include breakpoint($medium-up) {
          padding: 19px 21px;
        }
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .menu-language-btn-circle {
      right: 8px;
    }
  }

  .menu-language-name {
    .language-names-disabled.language-flags-enabled & {
      display: none;
    }
  }

  .menu-cms {
    li {
      // scss-lint:disable NestingDepth, SelectorDepth
      .language-menu-mode-list.language-flags-enabled & {
        padding-top: 2px;
        padding-bottom: 2px;
      }

      .language-menu-mode-popover.language-flags-enabled & {
        padding: 6px 14px;
      }

      .language-menu-mode-popover.language-flags-disabled & {
        padding: 6px 24px 6px 16px;
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}

.menu-language-list {
  margin-left: 20px;

  .language-menu-mode-popover & {
    display: none;
  }

  .menu-item-cms-settings {
    margin-left: 16px;
  }

  .menu-item-cms-add {
    margin-left: 8px;
  }
}

.ico-flags {
  position: relative;
  background-color: transparent;

  &::before,
  &::after {
    .language-flags-enabled & {
      position: absolute;
      display: block;

      @include breakpoint(max-width $medium) {
        width: 21px;
        height: 15px;
      }

      @include breakpoint($medium-up) {
        width: 34px;
        height: 23px;
      }
    }
  }

  &::before {
    background-color: $color-primary;
    content: '';

    .language-flags-disabled & {
      display: none;
    }
  }

  &::after {
    font-size: 8px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    content: attr(data-lang-code);
    opacity: .95;
    box-sizing: border-box;

    @include breakpoint(max-width $medium) {
      padding-top: 3px;
      padding-bottom: 3px;
      background-position: -210px -75px;
    }

    @include breakpoint($medium-up) {
      padding-top: 7px;
      padding-bottom: 7px;
      background-position: 0 -115px;
    }

    .language-flags-enabled & {
      @include breakpoint(max-width $medium) {
        background-image: url('../assets/ico-flags-medium.svg');
      }

      @include breakpoint($medium-up) {
        background-image: url('../assets/ico-flags-medium-up.svg');
      }
    }

    .language-flags-disabled & {
      display: none;
    }
  }
}

.ico-flag {
  // Albanian (Albania)
  &-sq {
    @include language-flag-icon-position(0, 0, 0, 0);
  }

  // Armenian (Armenia)
  &-hy {
    @include language-flag-icon-position(-21px, 0, -34px, 0);
  }

  // Bengali (Bangladesh)
  &-bn {
    @include language-flag-icon-position(-42px, 0, -68px, 0);
  }

  // Brazilian Portuguese (Brazil)
  //&-pt {
  //  @include language-flag-icon-position(-63px, 0, -102px, 0);
  //}

  // Bulgarian (Bulgaria)
  &-bg {
    @include language-flag-icon-position(-84px, 0, -136px, 0);
  }

  // Chinese (China)
  &-zh {
    @include language-flag-icon-position(-105px, 0, -170px, 0);
  }

  // Croatian (Croatia)
  &-hr {
    @include language-flag-icon-position(-126px, 0, -204px, 0);
  }

  // Danish (Denmark)
  &-da {
    @include language-flag-icon-position(-147px, 0, -238px, 0);
  }

  // Czech (Czech Republic)
  &-cs {
    @include language-flag-icon-position(-168px, 0, -272px, 0);
  }

  // Estonian (Estonia)
  &-et {
    @include language-flag-icon-position(-189px, 0, -306px, 0);
  }

  //=============================== SEPARATOR ================================\\

  // Finnish (Finland)
  &-fi {
    @include language-flag-icon-position(0, -15px, 0, -23px);
  }
  // French (France)
  &-fr {
    @include language-flag-icon-position(-21px, -15px, -34px, -23px);
  }

  // Georgian (Georgia)
  &-ka {
    @include language-flag-icon-position(-42px, -15px, -68px, -23px);
  }

  // German (Germany)
  &-de {
    @include language-flag-icon-position(-63px, -15px, -102px, -23px);
  }

  // Greek (Greece)
  &-el {
    @include language-flag-icon-position(-84px, -15px, -136px, -23px);
  }

  // Hungarian (Hungary)
  &-hu {
    @include language-flag-icon-position(-105px, -15px, -170px, -23px);
  }

  // Icelandic (Iceland)
  &-is {
    @include language-flag-icon-position(-126px, -15px, -204px, -23px);
  }

  // Hindi (India)
  &-hi {
    @include language-flag-icon-position(-147px, -15px, -238px, -23px);
  }

  // Indonesian (Indonesia)
  &-id {
    @include language-flag-icon-position(-168px, -15px, -272px, -23px);
  }

  // Iranian (Iran)
  &-fa {
    @include language-flag-icon-position(-189px, -15px, -306px, -23px);
  }

  //=============================== SEPARATOR ================================\\

  // Hebrew (Israel)
  &-he {
    @include language-flag-icon-position(0,  -30px, 0, -46px);
  }
  // Italian (Italy)
  &-it {
    @include language-flag-icon-position(-21px, -30px, -34px, -46px);
  }

  // Japanese (Japan)
  &-ja {
    @include language-flag-icon-position(-42px, -30px, -68px, -46px);
  }

  // Korean (Korea, South)
  &-ko {
    @include language-flag-icon-position(-63px, -30px, -102px, -46px);
  }

  // Latvian (Latvia)
  &-lv {
    @include language-flag-icon-position(-84px, -30px, -136px, -46px);
  }

  // Lithuanian (Lithuania)
  &-lt {
    @include language-flag-icon-position(-105px, -30px, -170px, -46px);
  }

  // Malaysian (Malaysia)
  &-ms {
    @include language-flag-icon-position(-126px, -30px, -204px, -46px);
  }

  // Dutch (Netherlands)
  &-nl {
    @include language-flag-icon-position(-147px, -30px, -238px, -46px);
  }

  // Norwegian (Norway)
  &-no {
    @include language-flag-icon-position(-168px, -30px, -272px, -46px);
  }

  // Urdu (Pakistan)
  &-ur {
    @include language-flag-icon-position(-189px, -30px, -306px, -46px);
  }

  //=============================== SEPARATOR ================================\\

  // Filipino (Philippines)
  &-fil {
    @include language-flag-icon-position(0,  549px, 0, -69px);
  }
  // Polish (Poland)
  &-pl {
    @include language-flag-icon-position(-21px, -45px, -34px, -69px);
  }

  // Romanian (Romania)
  &-ro {
    @include language-flag-icon-position(-42px, -45px, -68px, -69px);
  }

  // Russian (Russia)
  &-ru {
    @include language-flag-icon-position(-63px, -45px, -102px, -69px);
  }

  // Arabic (Saudi Arabia)
  &-ar {
    @include language-flag-icon-position(-84px, -45px, -136px, -69px);
  }

  // Slovakian (Slovakia)
  &-sk {
    @include language-flag-icon-position(-105px, -45px, -170px, -69px);
  }

  // Slovenian (Slovenia)
  &-sl {
    @include language-flag-icon-position(-126px, -45px, -204px, -69px);
  }

  // Spanish (Spain)
  &-es {
    @include language-flag-icon-position(-147px, -45px, -238px, -69px);
  }

  // Swedish (Sweden)
  &-sv {
    @include language-flag-icon-position(-168px, -45px, -272px, -69px);
  }

  // Turkish (Turkey)
  &-tr {
    @include language-flag-icon-position(-189px, -45px, -306px, -69px);
  }

  //=============================== SEPARATOR ================================\\

  // Ukrainian (Ukraine)
  &-uk {
    @include language-flag-icon-position(0,  -60px, 0, -92px);
  }

  // American English (United States of America)
  &-en {
    @include language-flag-icon-position(-21px, -60px, -34px, -92px);
  }

  // French (Ivory Coast)
  //&-fr {
  //  @include language-flag-icon-position(-42px, -60px, -68px, -92px);
  //}

  // British English (Great Britian)
  //&-en {
  //  @include language-flag-icon-position(-63px, -60px, -102px, -92px);
  //}

  // Portuguese (Portuguese Republic)
  &-pt {
    @include language-flag-icon-position(-84px, -60px, -136px, -92px);
  }

  // Canadian English (Canada)
  //&-en {
  //  @include language-flag-icon-position(-105px, -60px, -170px, -92px);
  //}

  // Serbian (Republic of Serbia)
  &-sr {
    @include language-flag-icon-position(-126px, -60px, -204px, -92px);
  }

  // Dutch, French, German (Kingdom of Belgium)
  //&-bn {
  //  @include language-flag-icon-position(-147px, -60px, -238px, -92px);
  //}

  // Australian English (Commonwealth of Australia)
  //&-en {
  //  @include language-flag-icon-position(-168px, -60px, -272px, -92px);
  //}

  // Thai (Thailand)
  &-th {
    @include language-flag-icon-position(-189px, -60px, -306px, -92px);
  }
}
