.menu-main {
  @include breakpoint(max-width $medium) {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 205px;
    padding-top: 16px;
    padding-bottom: 20px;
    background-color: $color-white;
    box-shadow: 0 0 5px 0 rgba($color-primary, .1);
    box-sizing: border-box;
    transition-duration: 200ms;
    transition-property: right;
  }

  @include breakpoint($medium-up) {
    margin-top: 48px;
    text-align: center;
  }

  [data-menu-main-state="closed"] & {
    @include breakpoint(max-width $medium) {
      right: -205px;
    }
  }

  [data-menu-main-state="open"] & {
    right: 0;
  }

  &__list {
    $whitespace: 0;

    padding-left: $whitespace;
    margin-top: $whitespace;
    margin-bottom: $whitespace;
    font-size: 0;
    list-style-type: none;
  }

  &__item {
    @include breakpoint(max-width $medium) {
      display: block;
    }

    @include breakpoint($medium-up) {
      display: inline-block;
    }

    &:not(:first-child) {
      // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
      // scss-lint:disable NestingDepth
      a {
        @include breakpoint($medium-up) {
          margin-left: 24px;
        }
      }
    }

    &:not(:last-child) {
      // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
      // scss-lint:disable NestingDepth
      a {
        @include breakpoint($medium-up) {
          margin-right: 24px;
        }
      }
    }

    &:not(&--selected) {
      // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
      // scss-lint:disable NestingDepth
      a {
        border-bottom-color: transparent;

        &:hover {
          @include breakpoint(max-width $medium) {
            opacity: .75;
          }

          @include breakpoint($medium-up) {
            border-bottom-color: rgba($color-primary, .75);
          }
        }
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--selected {
      // scss-lint:disable NestingDepth
      a {
        @include breakpoint(max-width $medium) {
          font-weight: 700;
        }

        @include breakpoint($medium-up) {
          border-bottom-color: $color-primary;
          border-bottom-style: solid;
          border-bottom-width: 2px;
        }
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--current {
      // scss-lint:disable NestingDepth
      a {
        border-bottom-color: rgba($color-primary, .75);
      }
      // scss-lint:enable NestingDepth
    }

    &--hidden {
      display: none;
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    a {
      display: block;
      color: $color-primary;
      text-decoration: none;

      @include breakpoint(max-width $medium) {
        padding: 5px 20px;
        font-size: 20px;
      }

      @include breakpoint($medium-up) {
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-size: 28px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }
    }

    &--cms {
      padding: 6px 20px;
    }
  }


  &__link {
    &--untranslated {
      opacity: .25;

      // scss-lint:disable NestingDepth
      &:hover {
        opacity: .5;
      }
      // scss-lint:enable NestingDepth
    }
  }
}
