// TODO: Convert to BEM.
// =============================================================================
// Navigation menus.
// =============================================================================
.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-public {
  a {
    //color: $color-primary;

    &.untranslated {
      color: rgba($color-error, 1);
    }
  }
}

.menu-horizontal {
  .page-content & {
    padding-bottom: 24px;
    font-size: 16px;
  }

  > .menu-item {
    display: inline-block;
    vertical-align: middle;
  }

  .menu-item {
    //opacity: .8;

    &:hover {
      // scss-lint:disable NestingDepth
      .page-content & {
        opacity: 1;
      }
      // scss-lint:enable NestingDepth
    }

    a {
      //color: rgba($color-primary, .8);
    }
  }

  .current {
    .page-content & {
      opacity: 1;
    }
  }

  .menu-item-cms {
    &:not(:first-child) {
      // scss-lint:disable NestingDepth
      .page-content & {
        margin-left: 16px;
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.menu-vertical {
  > .menu-item {
    display: block;
  }
}

.menu-popover {
  position: absolute;
  display: none;
  margin-bottom: 64px;
  background-color: rgba($color-white, 1);
  border-color: rgba($color-primary, .1);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 10px rgba($color-primary, .07);

  a {
    &.selected {
      // scss-lint:disable NestingDepth
      .language-flags-enabled & {
        background-color: rgba($color-primary, .1);
      }
      // scss-lint:enable NestingDepth
    }
  }
}
