// =============================================================================
// Content area container
// =============================================================================
.content-area {
  @include hyphenate();

  // scss-lint:disable SelectorFormat
  .layout-header__title & {
    font-weight: 700;
    line-height: 1.1;

    @include breakpoint(max-width $medium) {
      font-size: 32px;
    }

    @include breakpoint($medium-up) {
      font-size: 48px;
    }
  }



  .layout-footer__section--social-media & {
    @include breakpoint($large-up) {
      min-width: 145px;
      margin-left: 24px;
    }
  }
  // scss-lint:enable SelectorFormat

  &:empty {
    display: none;
  }

  &--padded {
    @include breakpoint(max-width $medium) {
      padding-bottom: 24px;
    }

    @include breakpoint($medium-up) {
      padding-bottom: 32px;
    }
  }

  &--article-excerpt {
    margin-bottom: 24px;
  }

  //&--article-body {
  //}

  &--article-additional-body {
    margin-top: 24px;
  }
}
