// Test
.content-area {
  //font-family: $font-family-primary;
  //font-size: rem($base-font-size);
  //line-height: 1.7;
  color: $color-primary;
  font-feature-settings: 'lnum';

  &:empty {
    display: none;
  }

  .shop-item & {
    line-height: 1.3;
  }

  .layout-footer & {
    font-size: rem(16px);
  }
}
