// =============================================================================
// Content area container
// =============================================================================
.content-area {
  line-height: 1.7;

  // scss-lint:disable SelectorFormat
  .layout-header__title & {
    font-weight: 700;
    line-height: 1.1;

    @include breakpoint(max-width $medium) {
      font-size: 32px;
    }

    @include breakpoint($medium-up) {
      font-size: 48px;
    }
  }

  .layout-footer__section--social-media & {
    @include breakpoint($large-up) {
      margin-left: 24px;
    }
  }
  // scss-lint:enable SelectorFormat

  &:empty {
    display: none;
  }

  &--padded {
    @include breakpoint(max-width $medium) {
      padding-top: 8px;
      padding-bottom: 24px;
    }

    @include breakpoint($medium-up) {
      padding-bottom: 48px;
    }
  }
}
