// =============================================================================
// Content area form
// =============================================================================
// sass-lint:disable class-name-format
.content-area {
  .form,
  form {
    clear: both;
  }
}

.form_field {
  padding-top: 6px;
  padding-bottom: 6px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  label {
    position: relative;
    display: block;

    &:not(.form_field_label) {
      margin-left: 25px;
    }
  }
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select {
  width: 30%;
  font-family: inherit;
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  max-width: 100%;
}

.form_field_textfield {
  padding: 6px 8px 4px;
}

.form_field_textarea {
  padding: 8px 8px 6px;
}

.form_field_select {
  @include input-ios-reset;
  position: relative;
  padding: 5px 22px 5px 8px;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: bottom;
  background-image: url('../assets/ico-arrow-white.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
}

.form_field_textarea {
  .comment-form & {
    height: 36px;
    min-height: 36px;
    resize: none;
  }
}

.form_field_size_small {
  width: 280px;
}

.form_field_size_medium {
  width: 420px;
}

.form_field_size_large {
  width: 100%;
}

.form_error,
.form_notice {
  padding-bottom: 20px;
  font-weight: 400;
}

.form_error {
  color: $color-error;
}

.form_notice {
  color: $color-success;
}

.form_field_error {
  display: none;
}

.form_field_with_errors {
  input,
  textarea {
    background-color: rgba($color-error, .2);
  }
}

.form_submit {
  input {
    display: inline-block;
    font-family: inherit;
    line-height: 1.4;
    cursor: pointer;
    border: 0;
    outline: 0;
    -webkit-appearance: none;

    [data-view-state="publicmode"] & {
      cursor: pointer;
    }
  }
}

.form_field_required {
  .form_field_label {
    &::after {
      content: '*';
    }
  }
}

// Custom checkboxes and radio buttons
label {
  cursor: pointer;

  &::before {
    display: none;
  }

  .form_field_checkbox,
  .form_field_radio {
    display: none;
    // display: inline-block\9;
  }

  .form_field_checkbox {
    + .form_control_indicator {
      left: -25px;
      margin-top: -9px;

      // scss-lint:disable NestingDepth
      &::before {
        border-style: solid;
        border-width: 1px;

        .form_field_with_errors & {
          border-color: rgba($color-error, .5);
        }
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          width: 100%;
          height: 100%;
          background-color: rgba($color-primary, 1);
          background-image: url('../images/ico-check.png');
          background-position: left bottom;
          background-repeat: no-repeat;
          background-size: 17px 19px;
          border-style: none;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  .form_field_radio {
    + .form_control_indicator {
      left: -24px;
      margin-top: -10px;

      // scss-lint:disable NestingDepth
      &::before {
        width: 9px;
        height: 9px;
        border-style: solid;
        border-width: 3px;
        outline-width: 1px;
        outline-style: solid;
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          opacity: .84;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  .form_control_indicator {
    position: absolute;
    top: 50%;
    display: inline-block;
    // display: none\9;
    width: 17px;
    height: 17px;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 15px;
      height: 15px;
      content: '';
    }
  }
}
// scss-lint:enable SelectorFormat
