// =============================================================================
// Content area image gallery
// =============================================================================
.content-area {
  .edys-gallery-slider {
    @include breakpoint(max-width $medium) {
      max-width: calc(100% + 32px);
      margin-right: -16px;
      margin-left: -16px;
    }

    @include breakpoint($medium-up) {
      max-width: calc(100% + 80px);
      margin-right: -40px;
      margin-left: -40px;
    }
  }
}
