.content-area {
  .edy-content-social-button {
    &:hover {
      // scss-lint:disable NestingDepth
      .layout-footer & {
        opacity: .75;
      }
      // scss-lint:enable NestingDepth
    }

    .layout-footer & {
      display: inline-block;
      color: $color-primary;
    }

  }
}
