.content-area {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .table-container,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block,
  .edy-positionable-container-maxwidth {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: .55em;
    margin-bottom: .55em;
    line-height: 1.1;
    color: $color-secondary;
  }

  h1 {
    @include breakpoint(max-width $medium) {
      font-size: 48px;
    }

    @include breakpoint($medium-up) {
      font-size: 72px;
    }
  }

  h2 {
    @include breakpoint(max-width $medium) {
      font-size: 32px;
    }

    @include breakpoint($medium-up) {
      font-size: 48px;
    }
  }

  h3 {
    @include breakpoint(max-width $medium) {
      font-size: 28px;
    }

    @include breakpoint($medium-up) {
      font-size: 32px;
    }
  }

  h4 {
    @include breakpoint(max-width $medium) {
      font-size: 24px;
    }

    @include breakpoint($medium-up) {
      font-size: 28px;
    }
  }

  h5 {
    @include breakpoint(max-width $medium) {
      font-size: 20px;
    }

    @include breakpoint($medium-up) {
      font-size: 24px;
    }
  }

  h6 {
    @include breakpoint(max-width $medium) {
      font-size: 16px;
    }

    @include breakpoint($medium-up) {
      font-size: 20px;
    }
  }


  p {
    margin-top: .85em;
    margin-bottom: .85em;
    font-size: 20px;

    > code {
      background-color: rgba($color-secondary, .05);
    }
  }

  ul,
  ol,
  dl {
    list-style-position: inside;
  }

  ul,
  ol {
    li {
      margin-top: .375em;
      margin-bottom: .375em;
      line-height: 1.5;
    }
  }

  ol,
  dl {
    padding-left: 10px;
  }

  ul {
    padding-left: 15px;

    li {
      text-indent: -13px;
      list-style-type: none;

      // scss-lint:disable NestingDepth
      &::before {
        margin-right: 5px;
        margin-left: 5px;
        content: '—';
      }
      // scss-lint:enable NestingDepth
    }
  }

  dt,
  dd {
    margin-top: .375em;
    margin-bottom: .375em;
    line-height: 1.5;
  }

  dd {
    margin-left: 10px;
  }

  a {
    color: $color-secondary;
    text-decoration: none;

    &:not(.custom-btn) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  pre,
  code,
  iframe,
  table,
  form {
    //@include hyphenate(false);
  }

  pre,
  code {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  pre {
    overflow: auto;
    background-color: rgba($color-secondary, .05);

    code {
      display: inline;
      padding: 0;
      line-height: inherit;
      white-space: pre;
    }
  }

  code {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    vertical-align: middle;
    box-sizing: border-box;
  }

  > code {
    background-color: rgba($color-secondary, .05);
  }

  blockquote {
    padding-left: 20px;
    margin: 20px 40px 20px 0;
    border-left-style: solid;
    border-left-width: 2px;
  }

  iframe {
    max-width: 100%;
  }

  b,
  strong {
    font-weight: 600;
  }

  .custom-btn {
    display: inline-block;
    padding: 8px 15px 9px;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.4;
    // TODO: LINT SCSS
    outline: 0;
    -webkit-appearance: none;
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: rgba($color-secondary, .75);
    }

    .publicmode & {
      cursor: pointer;
    }
  }

  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block,
  .edy-positionable-container-maxwidth {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: 20px;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: 20px;
  }

  .edy-image-container-with-title {
    &::after {
      display: block;
      padding: 4px;
      font-size: 12px;
      line-height: 1.3;
      content: attr(data-title);
    }
  }

  .table-container {
    max-width: 100%;
    margin-top: .875em;
    margin-bottom: .875em;
    overflow: auto;
    line-height: 1.75;
  }

  table {
    border-collapse: collapse;

    [data-view-state="editmode"] & {
      margin-top: .875em;
      margin-bottom: .875em;
      line-height: 1.75;
    }

    td,
    th {
      padding: 11.5px;
      border-color: rgba($color-grey, 1);
      border-style: solid;
      border-width: 1px;
    }

    th {
      font-weight: bold;
    }
  }
}
