// =============================================================================
// Layout body
// =============================================================================
.layout-body {
  flex-grow: 1;
  width: 100%;
  margin-top: 32px;
  margin-right: $margin-horizontal-layout-wrap;
  margin-left: $margin-horizontal-layout-wrap;
  box-sizing: border-box;

  @include breakpoint(max-width $medium) {
    margin-top: 8px;
  }

  @include breakpoint($medium-up) {
    margin-top: 24px;
  }

  //&__content {
  //}

  //&--narrow {
  //}
}
