.layout-footer {
  padding: 32px 16px;
  margin-top: 32px;
  margin-right: -16px;
  margin-left: -16px;
  background-color: $color-grey;

  &__container {
    display: flex;
    align-items: center;
    max-width: $width-layout-wrap-item;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;
    box-sizing: border-box;

    @include breakpoint(max-width $large) {
      flex-wrap: wrap;
    }
  }

  &__section {
    @include breakpoint(max-width $large) {
      width: 100%;
      text-align: center;
    }

    @include breakpoint($large-up) {

    }

    &--wide {
      flex-grow: 1;
      margin-right: 24px;
    }

    &--narrow {
      @include breakpoint($large-up) {
        min-width: 145px;
      }
    }

    &--voog-reference {
      @include breakpoint(max-width $large) {
        order: 3;
      }
    }

    &--body {
      @include breakpoint(max-width $large) {
        order: 1;
      }
    }

    &--social-media {
      @include breakpoint(max-width $large) {
        order: 2;
      }
    }
  }

  .separated {
    @include breakpoint(max-width $medium) {
      display: block;
    }

    @include breakpoint($medium-up) {
      margin-right: 24px;
      margin-left: 24px;
    }
  }
}
