// =============================================================================
// Layout header
// =============================================================================
.layout-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint(max-width $medium) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include breakpoint($medium-up) {
    padding-top: 72px;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;
  }

  &::before {
    @include breakpoint(max-width $medium) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      opacity: .2;
    }
  }

  &__container {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__top {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title {
    @include breakpoint($medium-up) {
      text-align: center;
    }

    [data-view-state="editmode"] & {
      @include breakpoint(max-width $medium) {
        flex-grow: 1;
      }
    }
  }

  &__options {
    display: flex;
    align-items: center;

    @include breakpoint(max-width $medium) {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    @include breakpoint($medium-up) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 55000;
      justify-content: flex-end;
      padding: 20px 40px;
      background-color: $color-white;
      transition: top .2s, right .2s;

      &::after {
        position: absolute;
        right: 40px;
        bottom: 0;
        left: 40px;
        height: 1px;
        background-color: transparent;
        content: '';
        opacity: .2;
        transition: background-color .2s;
      }
    }

    &.headroom--unpinned {
      top: -78px;
    }


    &.headroom--pinned {
      top: 0;
    }

    &.headroom--pinned.headroom--not-top {
      transition: top .2s;

      // scss-lint:disable NestingDepth
      &::after {
        transition: background-color .2s;
      }
      // scss-lint:enable NestingDepth
    }

    .edy-checkout-button-visible & {
      @include breakpoint($medium-up) {
        right: 90px;
      }

      // scss-lint:disable NestingDepth
      .site-search-opened & {
        @include breakpoint($medium-up) {
          right: 280px + 90px;
        }
      }
      // scss-lint:enable NestingDepth
    }

    .site-search-opened & {
      @include breakpoint($medium-up) {
        right: 280px + 40px;
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;

    &:hover {
      opacity: .75;
    }
  }

  &__logo {
    height: auto;
    max-width: 150px;
  }
}
