// =============================================================================
// Layout header
// =============================================================================
.layout-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint(max-width $medium) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include breakpoint($medium-up) {
    padding-top: 80px;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;
  }

  &::before {
    @include breakpoint(max-width $medium) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      opacity: .2;
    }
  }

  &__container {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__top {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title {
    @include breakpoint($medium-up) {
      text-align: center;
    }

    @include breakpoint(max-width $medium) {
      flex-grow: 1;
    }
  }

  &__title .image-container {
    @include breakpoint(max-width $medium) {
      width: auto !important;
      min-width: 120px;
    }
    @include breakpoint (max-width $small-down) {
      min-width: 0px;
    }
  }

  &__options {
    display: flex;
    align-items: center;

    @include breakpoint(max-width $medium) {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    @include breakpoint($medium-up) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      justify-content: flex-end;
      min-height: 84px;
      padding: 23px 40px;
      background-color: transparent;
      box-sizing: border-box;
      transition: top .2s, right .2s, padding-right .2s, background-color .2s;

      &::after {
        position: absolute;
        right: 40px;
        bottom: 0;
        left: 40px;
        height: 1px;
        background-color: transparent;
        content: '';
        opacity: .2;
        transition: background-color .2s;
      }
    }

    &.headroom--unpinned {
      top: -84px;
    }


    &.headroom--pinned {
      top: 0;
      transition: top .2s, right .2s, padding-right .2s, background-color .2s;
    }

    &.headroom--not-top {
      transition: top .2s, right .2s, padding-right .2s, background-color .2s;

      @include breakpoint($medium-up) {
        background-color: $color-white;
      }

      // scss-lint:disable NestingDepth
      &::after {
        transition: background-color .2s;
      }
      // scss-lint:enable NestingDepth
    }

    [data-lingual-mode="monolingual"].site-search-disabled & {
      top: -84px;
      transition: top .2s, right .2s, padding-right .2s, background-color .2s;
    }

    .edy-checkout-button-visible & {
      @include breakpoint($medium-up) {
        // scss-lint:disable ImportantRule
        top: 0 !important;
        // scss-lint:enable ImportantRule
        padding-right: 90px;
      }

      // scss-lint:disable NestingDepth
      .site-search-opened & {
        @include breakpoint($medium-up) {
          right: 280px;
        }
      }
      // scss-lint:enable NestingDepth
    }

    .site-search-opened & {
      @include breakpoint($medium-up) {
        right: 280px;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;

    &:hover {
      opacity: .75;
    }
  }

  &__logo {
    height: auto;
    max-width: 150px;
  }
}