.layout-header {
  width: 100%;
  max-width: $width-layout-wrap;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;

  @include breakpoint(max-width $medium) {
    padding-top: 16px;
  }

  @include breakpoint($medium-up) {
    padding-top: 48px;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;
  }

  &__container {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(max-width $medium) {
      align-items: flex-start;
    }

    @include breakpoint($medium-up) {
      align-items: center;
    }
  }

  &__title {
    [data-view-state="editmode"] & {
      flex-grow: 1;
    }
  }

  &__options {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;

    &:hover {
      opacity: .75;
    }
  }

  &__logo {
    height: auto;
    max-width: 150px;
  }
}
