.layout-header {
  max-width: $width-layout-wrap;
  padding-right: 20px;
  padding-left: 20px;

  @include breakpoint(max-width $medium) {
    padding-top: 20px;
  }

  @include breakpoint($medium-up) {
    padding-top: 75px;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;
  }

  &__container {
    @include breakpoint(max-width $medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__top {
    display: flex;
  }

  &__title {
    flex-grow: 1;
  }

  &__link {
    text-decoration: none;

    &:hover {
      opacity: .75;
    }
  }

  &__logo {
    height: auto;
    max-width: 150px;
  }

  &__menu-toggle {
    &:focus {
      outline: 0;
    }

    @include breakpoint(max-width $medium) {
      margin-right: -15px;

      .hamburger-inner {
        // scss-lint:disable NestingDepth
        &,
        &::before,
        &::after {
          background-color: $color-secondary;
        }
        // scss-lint:enable NestingDepth
      }
    }

    @include breakpoint($medium-up) {
      display: none;
    }
  }
}
