// =============================================================================
// LAYOUT CONTAINER
// =============================================================================
.layout-container {
  margin: 0;
}

// TODO: COnvert to BEM.
.blog-articles {
  font-family: $font-family-primary;
  font-size: 0;
}
