// =============================================================================
// LAYOUT WRAP
// =============================================================================
.layout-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  [data-state--menu-main="closed"] & {
    @include breakpoint(max-width $medium) {
      left: 0;
      transition-duration: 200ms;
      transition-property: left;
    }
  }

  [data-state--menu-main="open"] & {
    @include breakpoint(max-width $medium) {
      left: -205px;
      transition-duration: 200ms;
      transition-property: left;
    }
  }
}
