.layout-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  background-color: $color-grey;

  &__container {
    display: flex;
    align-items: center;
    max-width: $width-layout-wrap;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: $margin-horizontal-layout-wrap;
    margin-left: $margin-horizontal-layout-wrap;

    @include breakpoint(max-width $large-end) {
      flex-wrap: wrap;
    }
  }

  &__section {
    @include breakpoint(max-width $large-end) {
      width: 100%;
      text-align: center;
    }

    @include breakpoint($large-start) {

    }

    &--wide {
      flex-grow: 1;
    }

    &--voog-reference {
      @include breakpoint(max-width $large-end) {
        order: 3;
      }
    }

    &--body {
      @include breakpoint(max-width $large-end) {
        order: 1;
      }
    }

    &--social-media {
      position: relative;
      top: 6px;

      @include breakpoint(max-width $large-end) {
        order: 2;
      }
    }
  }

  .separated {
    @include breakpoint(max-width $medium-end) {
      display: block;
    }

    @include breakpoint($medium-start) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
