.btn {
  cursor: pointer;

  &--hover-toggleable {
    opacity: 0;
    transition: background-color .5s,opacity .5s;
  }

  &--editor {
    top: 0;
  }

  &--toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 45px;
    height: 45px;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: $color-button;
    border: 0;
    border-radius: 100%;
    fill: $color-white;
  }
}
