.voog-reference {
  // This can't be written in BEM
  a {
    color: $color-voog-reference;
    text-decoration: none;

    @include breakpoint(max-width $large) {
      font-size: 10px;
    }

    @include breakpoint($large-up) {
      font-size: 12px;
    }
  }
}
