.voog-reference {
  @include breakpoint($large-up) {
    margin-right: 20px;
  }

  // This can't be written in BEM
  a {
    color: $color-primary;
    text-decoration: none;
    opacity: .25;

    @include breakpoint(max-width $large) {
      font-size: 10px;
    }

    @include breakpoint($large-up) {
      font-size: 12px;
    }

    &:hover {
      opacity: .5;
    }
  }
}
