.voog-reference {
  font-family: $font-family-primary;

  // This can't be written in BEM
  a {
    color: $color-voog-reference;
    text-decoration: none;

    @include breakpoint(max-width $large-end) {
      font-size: 10px;
    }

    @include breakpoint($large-start) {
      font-size: 12px;
    }
  }
}
