.tags {
  display: flex;

  @include breakpoint(max-width $medium) {
    margin-bottom: 24px;
  }

  @include breakpoint($medium-up) {
    margin-bottom: 40px;
  }

  [data-view-state="editmode"] & {
    position: relative;
  }

  &--centered {
    @include breakpoint($medium-up) {
      justify-content: center;
    }
  }

  &__ico {
    flex-shrink: 0;
    margin-right: 8px;
    fill: currentColor;

    &--medium-padded {
      padding-top: 6px;
      padding-bottom: 5px;
    }

    &--small-padded {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }

  // This can't be written in BEM.
  .edy-tageditor {
    flex-grow: 1;
  }
}
