.tags {
  display: flex;
  margin-bottom: 40px;

  [data-view-state="editmode"] & {
    position: relative;
  }

  &--centered {
    justify-content: center;
  }

  &__ico {
    flex-shrink: 0;
    margin-right: 8px;
    fill: currentColor;

    &--medium-padded {
      padding-top: 6px;
      padding-bottom: 5px;
    }

    &--small-padded {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }

  // This can't be written in BEM.
  .edy-tageditor {
    flex-grow: 1;
  }
}
