// =============================================================================
// Ecommerce elements
// =============================================================================
// TODO: Remove ".layout-root & {}" from selectors when stylesheet location in DOM is improved.
// These default style overrides can't be written in BEM.
.edy-checkout-button-visible {
  .layout-root & {
    padding-top: 0;
  }
}

.edy-ecommerce-modal {
  .edy-ecommerce-modal-wrapper {
    a {
      // scss-lint:disable NestingDepth, SelectorDepth
      .layout-root & {
        color: $color-secondary;
      }

      &:hover {
        .layout-root & {
          text-decoration: underline;
          opacity: 1;
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }

  h1 {
    .layout-root & {
      color: $color-secondary;
    }
  }

  h2 {
    .layout-root & {
      letter-spacing: 0;
      text-decoration: none;
    }
  }

  footer {
    br {
      display: none;
    }

    button {
      // scss-lint:disable NestingDepth, SelectorDepth
      .layout-root & {
        display: inline-block;
        font-family: inherit;
        font-size: 20px;
        line-height: 1.4;
        color: $color-white;
        cursor: pointer;
        background-color: $color-secondary;
        outline: 0;
        appearance: none;
      }

      &:hover {
        .layout-root & {
          background-color: rgba($color-secondary, .75);
        }
      }

      &,
      &.-primary {
        .layout-root & {
          // TODO: Use some better code than !important.
          padding: 10px 16px !important; // scss-lint:disable ImportantRule
          line-height: 1.4 !important; // scss-lint:disable ImportantRule
          border-width: 0 !important; // scss-lint:disable ImportantRule
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}

.edy-ecommerce-shopping-cart-button {
  .layout-root & {
    left: auto;
    width: 75px;
    padding: 5px;
    font-size: 0;
    line-height: 1.7;
    text-align: right;
    background-image: url('../assets/ico-shopping-cart.svg');
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 34px 28px;
    border-width: 0;

    @include breakpoint(max-width $medium) {
      position: absolute;
      top: 27px;
    }

    @include breakpoint($medium-up) {
      top: 20px;
      right: 20px;
    }
  }

  [data-menu-main-state="closed"] & {
    @include breakpoint(max-width $medium) {
      right: 70px;
      transition-duration: 200ms;
      transition-property: right;
    }
  }

  [data-menu-main-state="open"] & {
    @include breakpoint(max-width $medium) {
      right: 270px;
      transition-duration: 200ms;
      transition-property: right;
    }
  }

  &:hover {
    opacity: .75;
  }
}

.edy-ecommerce-product-count {
  .layout-root & {
    font-size: 16px;
  }
}

.edy-ecommerce-shopping-cart-button-flash {
  .layout-root & {
    display: none;
  }
}

.edy-ecommerce-form-reveal-field {
  .layout-root & {
    font-size: 16px;
    color: $color-secondary;
  }

  &:hover {
    .layout-root & {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.edy-ecommerce-order-table {
  .product-name {
    .layout-root & {
      letter-spacing: 0;
      text-transform: none;
    }
  }
}

.edy-ecommerce-styled-select {
  &.-small,
  &.-medium {
    .edy-ecommerce-styled-select-value {
      // scss-lint:disable NestingDepth
      .layout-root & {
        padding-right: 21px;
      }
      // scss-lint:enable NestingDepth
    }
  }
}


.order-review-back {
  .layout-root & {
    color: $color-secondary;
  }

  &:hover {
    .layout-root & {
      text-decoration: underline;
      opacity: 1;
    }
  }
}
