// =============================================================================
// Ecommerce elements
// =============================================================================
// TODO: Remove ".layout-root & {}" from selectors when stylesheet location in DOM is improved.
// These default style overrides can't be written in BEM.
.edy-checkout-button-visible {
  .layout-root & {
    @include breakpoint(max-width $medium) {
      padding-top: 48px;
    }

    @include breakpoint($medium-up) {
      padding-top: 0;
    }
  }
}

.edy-ecommerce-shopping-cart-button {
  .layout-root & {
    transition-duration: .2s;
    transition-property: right;

    @include breakpoint(max-width $medium) {
      padding: 16px;
      background-color: $color-white;
      border-bottom: 0;

      &::after {
        @include breakpoint(max-width $medium) {
          position: absolute;
          right: 16px;
          bottom: 0;
          left: 16px;
          height: 1px;
          content: '';
          opacity: .2;
        }
      }
    }

    @include breakpoint($medium-up) {
      top: 20px;
      right: 40px;
      left: auto;
      width: auto;
      padding: 5px;
      font-size: 0;
      line-height: 1.7;
      text-align: right;
      border-width: 0;
    }
  }

  .site-search-enabled & {
    @include breakpoint($medium-up) {
      right: 78px;
    }
  }

  .site-search-opened & {
    @include breakpoint($medium-up) {
      right: 280px + 78px;
    }
  }

  &:hover {
    .layout-root & {
      @include breakpoint(max-width $medium) {
        color: $color-white;
      }

      @include breakpoint($medium-up) {
        opacity: .75;
      }
    }

    &::before {
      @include breakpoint(max-width $medium) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $color-primary;
        content: '';
      }
    }

    &::after {
      @include breakpoint(max-width $medium) {
        visibility: hidden;
      }
    }

    .edy-ecommerce-product-count {
      // scss-lint:disable NestingDepth
      .layout-root & {
        @include breakpoint(max-width $medium) {
          color: $color-white;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  .edy-ecommerce-shopping-cart-button-flash {
    .layout-root & {
      @include breakpoint(max-width $medium) {
        line-height: 1.5;
      }
    }
  }
}

.edy-ecommerce-custom-ico {
  @include breakpoint(max-width $medium) {
    display: none;
  }
}

.edy-ecommerce-product-count {
  &::before,
  &::after {
    .layout-root & {
      display: none;
    }
  }

  .layout-root & {
    @include breakpoint($medium-up) {
      position: absolute;
      top: 8px;
      right: 2px;
      display: block;
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 1.4;
      color: $color-white;
      text-align: center;
      vertical-align: middle;

      border-radius: 100%;
      box-sizing: border-box;
    }
  }
}

.edy-ecommerce-shopping-cart-button-flash {
  .layout-root & {
    @include breakpoint($medium-up) {
      display: none;
    }
  }
}

.edy-ecommerce-modal {
  .edy-ecommerce-modal-wrapper {
    a {
      // scss-lint:disable NestingDepth, SelectorDepth
      &:hover {
        .layout-root & {
          text-decoration: underline;
          opacity: 1;
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }

  h2 {
    .layout-root & {
      letter-spacing: 0;
      text-decoration: none;
    }
  }

  footer {
    br {
      display: none;
    }

    button {
      // scss-lint:disable NestingDepth, SelectorDepth
      .layout-root & {
        display: inline-block;
        font-family: inherit;
        font-size: 20px;
        line-height: 1.4;
        color: $color-white;
        cursor: pointer;
        outline: 0;
        appearance: none;
      }

      &,
      &.-primary {
        .layout-root & {
          // TODO: Use some better code than !important.
          padding: 10px 16px !important; // scss-lint:disable ImportantRule
          line-height: 1.4 !important; // scss-lint:disable ImportantRule
          border-width: 0 !important; // scss-lint:disable ImportantRule
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}

.edy-ecommerce-form-reveal-field {
  .layout-root & {
    font-size: 16px;
    text-decoration: underline;
  }

  &:hover {
    .layout-root & {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.edy-ecommerce-order-table {
  .product-name {
    .layout-root & {
      letter-spacing: 0;
      text-transform: none;
    }
  }

  td {
    &.actions {
      // scss-lint:disable NestingDepth
      button {
        &.remove {
          // scss-lint:disable SelectorDepth
          .layout-root & {
            hyphens: initial;
          }
          // scss-lint:enable SelectorDepth
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.edy-ecommerce-styled-select {
  &.-small,
  &.-medium {
    .edy-ecommerce-styled-select-value {
      // scss-lint:disable NestingDepth
      .layout-root & {
        padding-right: 21px;
      }
      // scss-lint:enable NestingDepth
    }
  }
}


.order-review-back {
  .layout-root & {
    text-decoration: underline;
  }

  &:hover {
    .layout-root & {
      text-decoration: none;
      opacity: 1;
    }
  }
}
