// =============================================================================
// SITE SEARCH
// =============================================================================
.site-search-btn {
  padding: 5px 5px 3px;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  transition-duration: .2s;
  transition-property: right;

  @include breakpoint(max-width $medium) {
    margin-left: 9px;
  }

  @include breakpoint($medium-up) {
    margin-left: 6px;
  }

  //@include breakpoint($medium-up) {
  //  position: fixed;
  //  top: 20px;
  //  right: 40px;
  //  z-index: 55000;
  //  background-color: $color-white;
  //}
  //
  //.edy-checkout-button-visible & {
  //  right: 84px;
  //}

  .site-search-opened & {
    @include breakpoint($medium-up) {
      right: 280px + 40px;
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  .header-menu-compact & {
    margin-right: 8px;

    .language-menu-mode-list & {
      margin-left: 8px;
    }

    .language-menu-mode-popover & {
      margin-left: 16px;
    }
  }


  .header-menu-wide & {
    margin-left: 13px;
  }

  &:hover {
    opacity: .75;
  }
}

.search-ico--small {
  opacity: 1;
}

.search-ico--large {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 251px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: .1;
}

.site-search {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba($color-white, 1);
  transition-duration: .2s;
  transition-property: right;

  @include breakpoint(max-width $small) {
    right: -200px;
    width: 200px;
  }

  @include breakpoint(($small-up) (max-width $medium)) {
    right: -50%;
    width: 50%;
  }

  @include breakpoint($medium-up) {
    right: -280px;
    width: 280px;
  }

  .edy-checkout-button-visible & {
    @include breakpoint(max-width $medium) {
      top: 48px; // 48 is the height of the checkout button.
    }
  }

  .site-search-opened & {
    right: 0;
  }
}

.search-form {
  position: absolute;
  z-index: 1;
  background-color: rgba($color-white, 1);

  @include breakpoint(max-width $medium) {
    right: 16px;
    left: 16px;
    padding-top: 15px;
  }

  @include breakpoint($medium-up) {
    right: 24px;
    left: 24px;
    padding-top: 58px;
  }
}

.search-input-container {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 1px;
    content: '';
    opacity: .25;
  }
}

.search-input {
  @include input-ios-reset;
  @include inherit-font;
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 28px 7px 4px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border-color: rgba($color-primary, .5);
    outline: none;
  }
}

.search-clear {
  position: absolute;
  right: 4px;
  bottom: 8px;
  display: none;
  cursor: pointer;
  opacity: .2;

  .not-empty & {
    display: block;
  }

  &:hover {
    opacity: .5;
  }
}

.search-submit {
  position: relative;
  top: -1px;
}

// Site search results modal custom styles.
.voog-search-modal {
  overflow: auto;
  text-align: left;
  border-left: 1px solid rgba($color-primary, .05);
  -webkit-overflow-scrolling: touch;

  @include breakpoint(max-width $medium) {
    padding: 66px 16px 16px;
  }

  @include breakpoint($medium-up) {
    padding: 118px 24px 24px;
  }

  [data-view-state="editmode"] & {
    @include breakpoint(max-width $medium) {
      height: calc(100% - 122px);
    }

    @include breakpoint($medium-up) {
      height: calc(100% - 182px);
    }
  }

  [data-view-state="publicmode"] & {
    @include breakpoint(max-width $medium) {
      height: calc(100% - 82px);
    }

    @include breakpoint($medium-up) {
      height: calc(100% - 142px);
    }
  }

  // Search modal has the following state classes:
  &.loading {
    // Search is processing the search input.
  }

  &.no-content {
    // Search has zero results and the message "No results found!" is displayed in the modal.
  }

  &.search-results-active {
    // Search has been triggered and the output is rendered into the modal (Both – with and without the results).
    background-color: rgba($color-white, 1);
  }

  &.voog-search-aligned-below {
    // Search modal is aligned below the search input. (Best position is calculated automatically for the default
    // container.)
  }

  &.voog-search-aligned-above {
    // Search modal is aligned above the search input. (Best position is calculated automatically for the default
    // container.)
  }

  &.voog-search-mobile-mode {
    // Class form mobile mode. Class toggle breakpont is set in the "bindSiteSearch" function in the
    // "sources/javascript/base.js" file.
  }
}

.voog-search-modal-inner {
  // Inner container inside the search modal.
}

.voog-search-modal-results {
  // Inner container inside the .search-modal-inner.
}

.voog-search-modal-result {
  // Single entity of the search result.
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  h3 {
    // Search result's heading.
    margin-bottom: 8px;

    &:first-child {
      margin-top: 0;
    }


    a {
      font-size: 20px;
      font-weight: 500;
    }
  }

  p {
    // Search result's excerpt.
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }

  em {
    font-style: normal;
    background-color: rgba($color-highlight, .5);
  }
}

.voog-search-loader {
  // Loader div at the end of the .voog-search-modal-inner div. By default it is shows a dot loader which is visible
  // while search modal has class "loading".
}
